/* ========================= Global */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ========================= Debug */
#debug {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

/* ========================= Layout */
.container {
  display: flex;
  column-gap: 0.8rem;
}

.panel__filters {
  flex-basis: 12rem;
}

.panel__results {
  flex: auto;
}

/* ========================= IS Widgets */
.ais-SearchBox {
  margin-bottom: 0.8rem;
}

.ais-RefinementList-showMore {
  margin-top: 0.5rem;
}
