/* ========================= Global */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ========================= Debug */
#debug {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

/* ========================= Layout */
.container {
  display: flex;
  column-gap: 0.8rem;
}

.panel__filters {
  flex-basis: 12rem;
}

.panel__results {
  flex: auto;
}

/* ========================= IS Widgets */
.ais-SearchBox {
  margin-bottom: 0.8rem;
}

.ais-RefinementList-showMore {
  margin-top: 0.5rem;
}

/* ========================= ColorRefinementList Widget */
/* ---------- List layout */
.ais-ColorRefinementList-Layout--List .ais-ColorRefinementList-Item {
  flex-basis: 100%;
  flex-direction: row;
  max-width: 100%;
}

.ais-ColorRefinementList-Layout--List .ais-ColorRefinementList-Color {
  margin-right: 0.8rem;
}

.ais-ColorRefinementList-Layout--List .ais-ColorRefinementList-Label {
  margin-top: 0;
}

.ais-ColorRefinementList-Layout--List .ais-ColorRefinementList-Count {
  display: block;
}

/* ---------- Items */
.ais-ColorRefinementList-Items {
  display: flex;
  flex-wrap: wrap;
}

.ais-ColorRefinementList-Item {
  flex-basis: 33.33%;
  max-width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: black;

  /* Reset button styles */
  background: transparent;
  border: 0px;
  padding: 0px;
  cursor: pointer;
}

/* ---------- Color */
.ais-ColorRefinementList-Color {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  transition: 0.3s transform ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hover state */
.ais-ColorRefinementList-Item:hover .ais-ColorRefinementList-Color {
  transform: scale(1.1);
}

/* Specific case: Add border to color circle to distinguish it from the background */
.ais-ColorRefinementList-Color.color--ffffff {
  border: 1px solid #d1d1d1;
}

/* Shape modifiers */
.ais-ColorRefinementList-Shape--Square .ais-ColorRefinementList-Color {
  border-radius: 0;
}

/* ---------- Label */
.ais-ColorRefinementList-Label {
  margin-top: 0.3rem;
  transition: 0.3s color ease-out;
}

.ais-ColorRefinementList-Item:hover .ais-ColorRefinementList-Label {
  color: #848484;
}

/* ---------- Count */
.ais-ColorRefinementList-Count {
  display: none;
}

/* ---------- RefinedIcon */
.ais-ColorRefinementList-RefinedIcon {
  position: relative;
  width: 13px;
  height: 13px;
  color: var(--contrast-color);
}

.ais-ColorRefinementList-RefinedIcon:before {
  content: '';
  height: 2px;
  background-color: currentcolor;
  display: block;
  position: absolute;
  transform-origin: left center;
  width: 6px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  top: 5px;
  left: 1px;
  transform: rotate(49deg) scale(0, 1);
  animation-fill-mode: forwards;
}

.ais-ColorRefinementList-RefinedIcon:after {
  content: '';
  height: 2px;
  background-color: currentcolor;
  display: block;
  position: absolute;
  transform-origin: left center;
  width: 13px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  top: 10px;
  left: 4px;
  transform: rotate(-49deg) scale(0, 1);
  animation-fill-mode: forwards;
}

.ais-ColorRefinementList-Item.refined
  .ais-ColorRefinementList-RefinedIcon:before {
  animation: 100ms ease 0s 1 normal forwards running
    animation-refined-icon-before;
}
.ais-ColorRefinementList-Item.refined
  .ais-ColorRefinementList-RefinedIcon:after {
  animation: 100ms ease 50ms 1 normal forwards running
    animation-refined-icon-after;
}

/* ========================= Animations */
@keyframes animation-refined-icon-before {
  0% {
    transform: rotate(49deg) scale(0, 1);
  }

  100% {
    transform: rotate(49deg) scale(1, 1);
  }
}

@keyframes animation-refined-icon-after {
  0% {
    transform: rotate(-49deg) scale(0, 1);
  }

  100% {
    transform: rotate(-49deg) scale(1, 1);
  }
}
